.lpal-wrap { margin-top:10px; height:35px; }
#lpal-action-limit-label { display:inline-block; line-height:35px; padding-right:4px; vertical-align:center;
	&.collapsed { cursor:pointer; }
}
#lpal-action-limit { width:100px; display:none; }
